<div class='panel panel-primary'>
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"> Search by:</div>
      <div class="col-md-4">
        <input type='text'
               />
      </div>

      <div class="col-md-6">
        <h3>Choice History </h3>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="teams && teams.length">
        <thead>
        <tr>
          <!--<th>-->
            <!--<button class="btn btn-primary">-->
              <!--Show Teams-->
            <!--</button>-->
          <!--</th>-->
          <th>ImageTest</th>
          <th>Date</th>
          <th>Selection</th>
          <th>Match Score</th>
          <th>Choice Result</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>
              <img
                 [src] ='team.imageUrl'
                     [title]="team.selection"
                     [style.width.px]="imageWidth"
                     [style.margin.px]="imageMargin"

              >
            </td>
            <td>{{team.date | date}}</td>
            <td>{{team.selection}}</td>
            <td>{{team.matchScore}}</td>
            <td>{{team.choiceResult}}</td>
        </tbody>
      </table>
    </div>
    <div>
      <!--<button class="btn btn-primary"(click)='toggleClickMe()'>-->
        <!--{{clickMe ? 'Hide' : 'Show' }} me!-->
      <!--</button>-->
    </div>
  </div>
</div>


